<textarea id="title" type="text" class="form-control" [(ngModel)]="statement"></textarea>
<div class="btn-group">
  <button type="button" class="btn btn-primary" (click)="execute()">
    Execute
  </button>
</div>
<p id="tabledesc">Records</p>
<table class="table table-striped" *ngIf="queryData.properties" aria-describedby="tabledesc">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" *ngFor="let col of queryData.properties">{{col}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of queryData.records; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td *ngFor="let col of queryData.properties"> {{row[col]}}</td>
    </tr>
  </tbody>
</table>